.formContainer {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  
  border-radius: 8px;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
}

.inputGroup {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 15px;
  background: white;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background: #f0f0f0;
  border-right: 1px solid #ccc;
}

.icon {
  color: #555;
  font-size: 18px;
}

.inputField {
  flex: 1;
  border: none;
  padding: 12px;
  outline: none;
  font-size: 16px;
}

.visibilityIcon {
  padding: 10px;
  cursor: pointer;
  color: #555;
}

.nameContainer {
  display: flex;
  gap: 10px;
}

.nameContainer .inputGroup {
  flex: 1;
}

.terms {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 15px;
}

.terms input {
  margin-right: 8px;
}

.submitButton {
    width: 100%;
    padding: 12px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
  }
  
  .submitButton::after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.4s ease-in-out;
  }
  
  .submitButton:hover::after {
    width: 100%;
  }
  
  .submitButton:hover {
    background-color: #333;
  }